* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;

}

#sketch,
header {
    display: flex;
    align-items: center;
    justify-content: center;
}


#container {
    /* background-color: yellowgreen; */
    display: grid;
    width: 500px;
    height: 500px;
    max-width: 960px;
    border: 1px inset black;
}

.square {
    background-color: white;
    width: 100%;
    height: 100%;
}

div.square:hover {
    background-color: black;
}

.colored {
    background-color: black;
}