#container {
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    text-align: center;
    justify-items: center;
    gap: 1px;
    width: 1px;
    max-width: 960px;
}

.square {
    background-color: gray;
    text-align: center;
    align-content: center;
    width: 20px;
    height: 20px;
    font-size: 10px;
}

div.square:hover {
    background-color: black;
}

.colored {
    background-color: black;
}